@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: digital;
    src: url(digital-7-italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: digital;
    src: url(digital-7-mono.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: digital;
    src: url(digital-7-mono-italic.ttf);
    font-weight: 300;
    font-style: italic;
}
